{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["chrome >= 80", "safari >= 11"]
        }
      }
    ],
    ["@babel/preset-react", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
